
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <i class="fas fa-laptop-house fa-10x" aria-hidden="true"></i>
        <br>
        <h1 class="font-weight-light">COMPUBAY</h1>
        <p class="lead">Sell your used computer parts to people who will then try to sell those parts back to you <i>ad infinitum</i>.</p>
      </div>
    </div>
  </div>
</header>
<br>
<section class="container page">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio modi aperiam odit fugiat facilis sed inventore atque, unde, molestiae deserunt totam aliquid porro! Similique ipsum nobis quisquam modi magni.
    Unde vero id fuga repudiandae, quasi nulla. Ducimus at eos quaerat obcaecati corporis similique illum ullam voluptatem. Enim, consequatur sapiente. Ut unde perspiciatis distinctio? Pariatur, deleniti fugit. Error, nobis magnam!
    Enim tempore iste nisi hic et nesciunt quasi non repudiandae officiis illum, corporis alias. Dignissimos necessitatibus illum aspernatur, mollitia vero repellendus voluptatum a distinctio maiores. Explicabo vero temporibus rerum! Odit?
    Vitae, necessitatibus et at quaerat impedit cum facere fuga, velit unde amet reprehenderit iure consequatur odio quasi labore sapiente numquam iste exercitationem itaque. Dolor modi quibusdam illum rerum accusamus ex.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio modi aperiam odit fugiat facilis sed inventore atque, unde, molestiae deserunt totam aliquid porro! Similique ipsum nobis quisquam modi magni.
    Unde vero id fuga repudiandae, quasi nulla. Ducimus at eos quaerat obcaecati corporis similique illum ullam voluptatem. Enim, consequatur sapiente. Ut unde perspiciatis distinctio? Pariatur, deleniti fugit. Error, nobis magnam!
    Enim tempore iste nisi hic et nesciunt quasi non repudiandae officiis illum, corporis alias. Dignissimos necessitatibus illum aspernatur, mollitia vero repellendus voluptatum a distinctio maiores. Explicabo vero temporibus rerum! Odit?
    Vitae, necessitatibus et at quaerat impedit cum facere fuga, velit unde amet reprehenderit iure consequatur odio quasi labore sapiente numquam iste exercitationem itaque. Dolor modi quibusdam illum rerum accusamus ex.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio modi aperiam odit fugiat facilis sed inventore atque, unde, molestiae deserunt totam aliquid porro! Similique ipsum nobis quisquam modi magni.
    Unde vero id fuga repudiandae, quasi nulla. Ducimus at eos quaerat obcaecati corporis similique illum ullam voluptatem. Enim, consequatur sapiente. Ut unde perspiciatis distinctio? Pariatur, deleniti fugit. Error, nobis magnam!
    Enim tempore iste nisi hic et nesciunt quasi non repudiandae officiis illum, corporis alias. Dignissimos necessitatibus illum aspernatur, mollitia vero repellendus voluptatum a distinctio maiores. Explicabo vero temporibus rerum! Odit?
    Vitae, necessitatibus et at quaerat impedit cum facere fuga, velit unde amet reprehenderit iure consequatur odio quasi labore sapiente numquam iste exercitationem itaque. Dolor modi quibusdam illum rerum accusamus ex.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio modi aperiam odit fugiat facilis sed inventore atque, unde, molestiae deserunt totam aliquid porro! Similique ipsum nobis quisquam modi magni.
    Unde vero id fuga repudiandae, quasi nulla. Ducimus at eos quaerat obcaecati corporis similique illum ullam voluptatem. Enim, consequatur sapiente. Ut unde perspiciatis distinctio? Pariatur, deleniti fugit. Error, nobis magnam!
    Enim tempore iste nisi hic et nesciunt quasi non repudiandae officiis illum, corporis alias. Dignissimos necessitatibus illum aspernatur, mollitia vero repellendus voluptatum a distinctio maiores. Explicabo vero temporibus rerum! Odit?
    Vitae, necessitatibus et at quaerat impedit cum facere fuga, velit unde amet reprehenderit iure consequatur odio quasi labore sapiente numquam iste exercitationem itaque. Dolor modi quibusdam illum rerum accusamus ex.</p>
</section>